# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
venv/

# Env
.env
.env.*
!.env.example
!.env.*.exemple

# Next.js
frontend/.next/
frontend/out/

# Build output
dist/
build/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage
coverage/

# Docker
*.pid

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Python
__pycache__/
*.pyc